doctype html
html
    head
        link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='css/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js')
        script(src='js/chat.js')
        script(src='/socket.io/socket.io.js')
        
    body
        #container
            block content
