extends layout

block content
	div#login
		p Nickname
			input#nickname
		p#error
			
	div#room
		h1#my_nickname
		ol#users
		p TalkWith
			input#chat_with

	div#conversation
		p#other_user
		ol#messages
		p New message
			input#new_message
	
