extends layout

block content
    div.vertical-centering.horizontal-centering#login
        form#login-form
            div#login-error.alert.alert-danger.clear
            label Nickname
            input.form-control#nickname
            button.btn.btn-success#signin Sign In
            
    div.horizontal-centering#room
        h1#my_nickname
        div.list-group#users

    div#conversation
        p#other_user
        ol#messages
        p New message
            input#new_message
    
