extends layout

block content
	div#login
		p Nickname
			input#nickname
		p#error
			
	div#room
		h1#my_nickname
		ol#users
		p TalkWith
			input#chat_with
	div#request
		h1 Do you want to connect with 
		h1#other_nickname?
		button.btn.btn-success#accept Yes 
		button.btn.btn-danger#deny No
				

	div#conversation
		p#other_user
		ol#messages
		p New message
			input#new_message
	
